.sliding-menu {
  position: absolute;
  top: 0px;
  right: -240px;
  display: none;
  height: 100vh;
}

.menu-slide-in {
  position: relative;
  // width: 100%;
}

.slide-menu {
  right: 0px;
  display: block;
}