@media (min-width: 992px) {
  .navbar {
    width: 41.53%; } }

@media (min-width: 768px) {
  .navbar__container {
    margin-top: 30px; } }

.navbar__container--mobile {
  width: 50%;
  float: left; }
  .navbar__container--mobile .anchor,
  .navbar__container--mobile .social__icon {
    color: #009900; }
  @media (min-width: 768px) {
    .navbar__container--mobile {
      display: none; } }

.navbar__container--mobile .navbar {
  margin-top: 20%; }

.navbar__mobileMenu {
  float: right;
  margin-top: 10px; }

.navbar__mobileMenuIcon {
  color: #009900;
  font-size: 30px;
  background-color: transparent;
  border: transparent; }

.navbar__container--desktop {
  display: none; }
  @media (min-width: 768px) {
    .navbar__container--desktop {
      display: inline-block; } }

.navbar__button {
  display: block;
  font-size: 18px;
  padding-bottom: 10px; }
  .navbar__button .anchor:hover {
    color: #025302;
    border-bottom: 2px solid #009900;
    text-decoration: none; }
  .navbar__button .active {
    border-bottom: 2px solid #009900; }
  .navbar__button .anchor:focus {
    border-radius: 5px;
    padding: 5px; }
  @media (min-width: 768px) {
    .navbar__button {
      display: inline-block;
      padding-bottom: 0; } }

.navbar__button--home {
  padding-right: 15px; }

@media (min-width: 768px) {
  .navbar__button--contact {
    padding-left: 15px; } }

.navbar__button__icon {
  display: inline-block;
  float: left;
  margin-right: 10px; }
  @media (min-width: 992px) {
    .navbar__button__icon {
      display: none; } }

.menu__overlay {
  background-color: rgba(2, 83, 2, 0.9); }

.menu__head {
  width: 100%; }

.menu__title {
  text-align: center;
  color: #fff; }

.menu__close {
  color: #fff; }

.menu__body .anchor__navbar {
  color: #fff; }

.menu__body .navbar__button {
  margin: 20px auto;
  width: 230px; }

.footer .navbar__container {
  padding: 25px 0;
  width: 100%;
  margin-top: 0; }
  @media (min-width: 768px) {
    .footer .navbar__container {
      padding: 0 0 25px 0; } }

.footer .navbar__button {
  font-size: 16px; }
  @media (min-width: 768px) {
    .footer .navbar__button {
      display: inline-block;
      text-align: left;
      width: auto;
      padding: 0;
      margin-right: 30px; } }

.footer .navbar__button__icon {
  display: block;
  color: #fff; }
  @media (min-width: 768px) {
    .footer .navbar__button__icon {
      display: table-cell;
      float: left; } }

@media (min-width: 768px) {
  .footer .navbar {
    width: auto; } }
