.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container:before,
.row:before {
  content: " ";
  display: table; }

.container:after,
.row:after {
  content: " ";
  display: table;
  clear: both; }

.center-element {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.clearfix:after {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

.col__container {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container:before,
.row:before {
  content: " ";
  display: table; }

.container:after,
.row:after {
  content: " ";
  display: table;
  clear: both; }

.center-element {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.clearfix:after {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

.col__container {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

[role="button"] {
  cursor: pointer; }

.button {
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 12px;
  font-size: 18px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: visible;
  text-transform: none;
  margin: auto;
  display: block;
  width: 90%; }
  @media (min-width: 768px) {
    .button {
      margin: 0;
      width: auto;
      display: inline-block; } }

.button:focus,
.button:active:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.button:hover,
.button:focus {
  text-decoration: none; }

.button:active,
.button.active {
  outline: 0;
  background-image: none; }

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none; }

.button {
  color: #fff; }

.button-primary, .blog-content__button--next {
  background-color: #009900;
  border-color: #009900; }

.button-primary:hover, .blog-content__button--next:hover {
  background-color: #025302; }

.button-primary:focus, .blog-content__button--next:focus {
  background-color: #fff;
  color: #025302;
  border: 1px solid #025302; }

.button-primary:active, .blog-content__button--next:active {
  background-color: #009900;
  border-color: #009900; }

.button-secondary {
  background-color: #7086f1;
  border-color: #7086f1; }

.button-secondary:hover {
  background-color: #0266be; }

.button-secondary:focus {
  background-color: #fff;
  color: #0266be;
  border: 1px solid #0266be; }

.button-secondary:active {
  background-color: #7086f1;
  border-color: #7086f1; }

@media (min-width: 768px) {
  .blog-content__row {
    padding: 20px 0; } }

.blog-content__header {
  margin-bottom: 0; }

@media (min-width: 768px) {
  .blog-content__button {
    margin: 0 auto;
    display: block; } }

@media (min-width: 768px) {
  .blog-content__div {
    float: left;
    width: 32%;
    margin: 0 5px;
    border: 1px solid #E5E5E5; } }

.blog-content__icon,
.blog-content__categories {
  display: inline-block; }

.blog-content__icon--calendar {
  color: #ff872f;
  margin-right: 5px; }

.blog-content__excerpt {
  border-bottom: solid 1px #E5E5E5;
  padding-bottom: 25px; }
  @media (min-width: 768px) {
    .blog-content__excerpt {
      border-bottom: none; } }

.blog-content__excerpt--post {
  margin: 0 -15px; }

.blog-content__excerpt--copy {
  padding: 0 15px; }

.blog-content__anchor {
  color: #fff;
  text-decoration: none; }
  @media (min-width: 768px) {
    .blog-content__anchor {
      width: 33.33333333%; } }
