.input, .email__input {
  line-height: normal; }

.input[type="checkbox"], .email__input[type="checkbox"],
.input[type="radio"],
.email__input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal; }

.input[type="number"]::-webkit-inner-spin-button, .email__input[type="number"]::-webkit-inner-spin-button,
.input[type="number"]::-webkit-outer-spin-button,
.email__input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

.input[type="search"], .email__input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.input[type="search"]::-webkit-search-cancel-button, .email__input[type="search"]::-webkit-search-cancel-button,
.input[type="search"]::-webkit-search-decoration,
.email__input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

.input[type="file"], .email__input[type="file"] {
  display: block; }

.input[type="range"], .email__input[type="range"] {
  display: block;
  width: 100%; }

.input[type="file"]:focus, .email__input[type="file"]:focus,
.input[type="radio"]:focus,
.email__input[type="radio"]:focus,
.input[type="checkbox"]:focus,
.email__input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.input[type="radio"][disabled], .email__input[type="radio"][disabled],
.input[type="checkbox"][disabled],
.email__input[type="checkbox"][disabled],
.input[type="radio"].disabled,
.email__input[type="radio"].disabled,
.input[type="checkbox"].disabled,
.email__input[type="checkbox"].disabled {
  cursor: not-allowed; }

.input, .email__input {
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  background-color: #fff;
  height: 35px;
  padding: 8px 8px; }

.email {
  background-color: #E5E5E5; }

.email__container:before,
.email__container:after {
  content: " ";
  display: table; }

.email__container:after {
  clear: both; }

.email__header {
  text-align: center; }

.email__form {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .email__form {
      margin-left: 37%;
      float: left;
      width: 27%; } }
  @media (min-width: 992px) {
    .email__form {
      margin-left: 41%; } }
  @media (min-width: 1200px) {
    .email__form {
      margin-left: 42%; } }

.email__icon {
  display: none;
  color: #ff872f;
  margin-right: 5px; }
  @media (min-width: 768px) {
    .email__icon {
      display: inline-block; } }

.email__input {
  display: inline-block;
  margin: 0 auto;
  width: 100%; }
  @media (min-width: 768px) {
    .email__input {
      width: auto; } }
