.button {
  color: #fff; }

.button-primary {
  background-color: #009900;
  border-color: #009900; }

.button-primary:hover {
  background-color: #025302; }

.button-primary:focus {
  background-color: #fff;
  color: #025302;
  border: 1px solid #025302; }

.button-primary:active {
  background-color: #009900;
  border-color: #009900; }

.button-secondary {
  background-color: #7086f1;
  border-color: #7086f1; }

.button-secondary:hover {
  background-color: #0266be; }

.button-secondary:focus {
  background-color: #fff;
  color: #0266be;
  border: 1px solid #0266be; }

.button-secondary:active {
  background-color: #7086f1;
  border-color: #7086f1; }

.footer {
  background-color: #333;
  display: none; }
  @media (min-width: 768px) {
    .footer {
      display: block; } }

.footer__container:before,
.footer__container:after {
  content: " ";
  display: table; }

.footer__container:after {
  clear: both; }

.footer__content {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .footer__content {
      float: left;
      width: 100%; } }

.footer__paragraph {
  color: #fff;
  width: 100%;
  float: left; }

.contact .footer,
.about .footer,
.error .footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; }
