// app base
@import '_variables.scss';

@import '../.././base/styles/_variables.scss';

.header {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	overflow: hidden;
	background-color: $color-white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	height: 55px;
	
	@media #{$medium} {
		border-bottom: 1px solid $color-primary;
	}

	.header__container {
		background-color: $color-white;
		height: 55px;
	}
	
	.header__menu {
		float: left;
		width: 100%;
	
		@media #{$medium} {
			width: auto;
			float: none;
		}
	}
}

.header:before,
.header:after,
.header__container:before,
.header__container:after {
	content: " ";
	display: table;
}

.header__container:after {
	clear: both;
}

.header__container--default {
	text-align: center;
}

