.logo {
  float: left;
  width: 50%; }
  @media (min-width: 768px) {
    .logo {
      display: inline-block;
      width: 36%; } }
  @media (min-width: 992px) {
    .logo {
      display: inline-block;
      width: 26%; } }

.logo:after,
.logo:before {
  content: " ";
  display: table; }

.logo__container {
  margin-top: 5%; }
  @media (min-width: 768px) {
    .logo__container {
      margin-top: 3%; } }
  @media (min-width: 992px) {
    .logo__container {
      width: 70%; } }

.logo__container.col__container {
  padding-left: 0; }

.logo__image {
  width: 100%;
  float: left; }
  @media (min-width: 768px) {
    .logo__image {
      width: 50%;
      float: none; } }
  @media (min-width: 992px) {
    .logo__image {
      width: 100%; } }
