.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container:before,
.row:before {
  content: " ";
  display: table; }

.container:after,
.row:after {
  content: " ";
  display: table;
  clear: both; }

.center-element {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.clearfix:after {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

.col__container, .search__container {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.search {
  float: left;
  width: 100%; }
  @media (min-width: 992px) {
    .search {
      width: auto; } }

.search:after,
.search:before {
  content: " ";
  display: table; }

@media (min-width: 992px) {
  .search__container {
    float: left;
    margin-top: 25px; } }

.search__icon {
  color: #ff872f;
  margin-right: 5px; }

.search__input {
  border: #009900 2px solid;
  width: 100%;
  border-radius: 5px;
  height: 35px;
  margin-top: 20px; }
  .search__input:focus {
    border-color: #ff872f; }
  @media (min-width: 992px) {
    .search__input {
      width: auto;
      margin-top: 0; } }
