.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container:before,
.row:before {
  content: " ";
  display: table; }

.container:after,
.row:after {
  content: " ";
  display: table;
  clear: both; }

.center-element {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.clearfix:after {
  clear: both; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.row:before,
.row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.container:before,
.container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

.col__container, .social__container {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.social {
  float: left;
  width: 100%; }
  @media (min-width: 992px) {
    .social {
      width: auto; } }

.social:after,
.social:before {
  content: " ";
  display: table; }

@media (min-width: 768px) {
  .social__container {
    margin-top: 5px; } }

@media (min-width: 992px) {
  .social__container {
    float: left;
    width: auto;
    margin-top: 15px; } }

.social__icon {
  display: inline-block;
  list-style: none;
  font-size: 24px;
  padding: 0 5px; }

.social__icon--facebook,
.social__icon--instagram,
.social__icon--twitter,
.social__icon--tumblr {
  color: #009900; }
  .social__icon--facebook:hover,
  .social__icon--instagram:hover,
  .social__icon--twitter:hover,
  .social__icon--tumblr:hover {
    color: #025302; }

.social__icon--facebook--contact,
.social__icon--instagram--contact,
.social__icon--twitter--contact,
.social__icon--tumblr--contact {
  margin: 10px 0; }

.menu__container .social {
  text-align: center; }

.menu__container .social__icon {
  color: #fff;
  font-size: 40px;
  padding: 0 15px; }
