.termsOfUse__column {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 768px) {
    .termsOfUse__column {
      float: left;
      width: 50%; } }

.termsOfUse__row {
  margin-bottom: 35px; }
