@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

// Base Classes
.subject-button_edit,
.subject-button_remove {
  @extend .button;
}

.edit {
  .edit_text,
  .fa-pencil-square-o {
    color: $color-secondary;

    &:hover {
      color: $color-secondary-hover;
    }
  }
}

.save {
  .save_text,
  .fa-check {
    color: $color-primary;

    &:hover {
      color: $color-primary-hover;
    }
  }
}

.subject-button_remove {
  .remove_text,
  .fa-trash {
    color: $color-error;
  }
}

.edit-icon {
  margin-left: 10px;
}

// Edit Profile
.profile {
  .edit-text-input-group {
    float: left;
    width: 100%;
    padding: 0 15px;

    @media #{$medium} {
      padding: 0;
    }

    .edit-text-input-group-main {
      float: left;
      width: 100%;

      .subject-list {
        float: left;
        width: 100%;
      }

      .input.subject-name {
        width: 100%;
        float: left;
        min-height: 150px;
      }

      .subject-name_children {
        width: 100%;
        float: left;
      }

      .subject-button_edit {
        width: auto;
        text-align: right;
        float: right;
      }
    }
  }

  .edit-text-input-single {
    float: left;
    width: 100%;
    padding: 0 15px;

    @media #{$medium} {
      padding: 0;
    }

    .edit-text-input-single-subject {
      margin: 20px 0;

      @media #{$medium} {
        margin: 0;
      }

      .subject-wrapper,
      .subject-input-wrapper {
        width: 75%;
        display: inline-block;
      }

      .subject-input-wrapper .form {
        .input {
          width: 100%;
        }
      }

      .button {
        width: 25%;
        display: inline-block;
      }

      .subject-button_edit {
        @extend .button;
      }
    }
  }
}

.edit-text-input-single {
  .edit-text-input-single-subject {
    .form {
      margin-top: 15px;
    }
  }
}
