@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

.unfollow_button {
    background-color: $color-secondary;
    border-color: $color-secondary;
}

.follow_button {
    background-color: $color-primary;
    border-color: $color-primary;
}