@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

.follow-layout {
  width: 100%;
  float: left;

  .avatar,
  .user-name {
    float: left;
  }

  .avatar {
    width: auto;
    padding: 15px 15px;
  }

  .user-name {
    width: 50%;
  }

  .follow {
    float: right;
    width: auto;

    @media #{$medium} {
      width: 25%;
    }

    .button {
      width: 100%;
    }
  }
}

.unfollow_button {
  background-color: $color-secondary;
  border-color: $color-secondary;
}

.follow_button {
  background-color: $color-primary;
  border-color: $color-primary;
}
