@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

.forgot-password {
  float: left;
  width: 100%;
  margin: 3.5em 0 5em 0;

  @media #{$medium} {
    margin: 10em 0 5em 0;
  }

  .forgot-password_content {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 100%;
    margin-top: 2em;

    @media #{$medium} {
      margin-top: 0;
      width: 50%;
      margin-left: 25%;
      padding-left: 0;
      padding-right: 0;
    }

    .form {
      .input_email {
        margin: 10px 0;
        float: left;
        width: 100%;

        .input {
          @extend .input;
          float: left;
          width: 100%;
        }
      }

      .submit {
        margin-top: 3em;
        float: left;
      }
    }
  }
}
