@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

.header-social {
  float: left;
  width: 50%;
  background-color: $color-primary;
  position: fixed;
  top: 0;
  z-index: 1;

  @media #{$medium} {
    width: 100%;
    height: 50px;
  }

  .header__container {
    background-color: $color-primary;
    padding: 0 0 0 15px;
    height: 55px;

    @media #{$medium} {
      padding: 0 15px 0 15px;
    }

    .navbar__container {
      float: right;
      width: auto;
      padding: 0 0 0 15px;
      display: none;

      @media #{$medium} {
        padding: 0 15px 0 15px;
        display: block;
        margin-top: 0;
      }

      .header-social-nav {
        float: right;

        @media #{$medium} {
          width: auto;
        }

        .avatar {
          display: none;

          @media #{$medium} {
            display: block;
            color: $color-white;
            padding: 5px 20px 0 0;
            float: left;
            width: auto;
          }
        }

        .toggle {
          display: none;

          @media #{$medium} {
            display: block;
            float: left;
            width: auto;
            padding-top: 15px;
          }

          .triangle-top {
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $color-white_gray transparent;
            margin-top: 15px;
          }

          .menu {
            right: 0;
            margin-top: 25px;
            background-color: $color-white_gray;
            padding: 0 30px 30px 30px;
            border-radius: 5px;
            font-family: $font-family;
            box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            @media #{$medium} {
              width: 200px;
            }

            .listItem {
              margin: 10px 0;

              .icon {
                margin-right: 5px;
              }
            }

            .avatar-name,
            .log-out_listItem {
              width: 100%;
              float: left;
            }

            .log-out_listItem {
              border-top: 1px solid $color-medium_gray;
              padding-top: 10px;
              cursor: pointer;
            }
          }

          .menu,
          .triangle-top {
            display: block;
            position: absolute;
            z-index: 1;
          }
        }

        .logged-out_links {
          padding-top: 25px;

          .anchor {
            color: $color-white;
            margin-left: 30px;

            @media #{$medium} {
              float: none;
              width: auto;
            }
          }
        }
      }
    }
  }
}

.header-social:after,
.header-social:before {
  content: ' ';
  display: table;
}
