@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

.header-social {
    background-color: $color-primary;

	@media #{$medium} {
		width: 100%;
    }
    
    .header__container {
        background-color: $color-primary;
    }
}

.header-social:after,
.header-social:before {
    content: " ";
    display: table;
}