@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

.mobile-footer {
  background-color: $color-dark_gray;
  float: left;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  color: $color-white;
  height: 60px;

  @media #{$medium} {
    display: none;
  }

  .anchor {
    color: $color-white;
    width: 25%;
    float: left;
  }

  .tab {
    padding: 5px 0 0 0;
    height: 60px;
    text-align: center;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-right: 1px solid $color-medium_gray;
    }

    .tab_text {
      margin-top: 0;
    }

    &:hover {
      color: $color-dark_gray;
      background-color: $color-white;
    }
  }
}
