@import '.././_variables.scss';

.post-response,
.post-response-user,
.post-response-comments {
  float: left;
  width: 100%;
}

.post-response-user,
.post-response-comments {
    margin: 15px 0;
}

.post-response,
.post-response-comments {
  .post {
    float: left;
    width: 100%;
  }
}

.post-timestamp {
  color: $color-medium_gray;
}

.post-response-user {
    padding: 0 15px;

  .avatar {
    width: 100%;
  }

  .post_input {
    width: 100%;
  }
}
