@import '.././_variables.scss';

.post-response,
.post-response-user,
.post-response-comments {
  float: left;
  width: 100%;
}

.post-response-user,
.post-response-comments {
  margin: 15px 0;
}

.post-response,
.post-response-comments {
  .post {
    float: left;
    width: 100%;
  }
}

.post-response {
  background-color: $color-white_gray;
  padding: 0 15px;

  @media #{$medium} {
    padding: 0;
  }

  .post {
    .post-image,
    .post-paragraph {
      width: 100%;
      display: block;
    }
  }
}

.response-info {
  .fa-heart,
  .fa-comment-o,
  .post-time {
    width: auto;
    display: inline-block;

    .post-timestamp {
      color: $color-medium_gray;
    }
  }

  .fa-comment-o {
    .post-comment-number {
      font-family: $font-family;
    }
    margin-left: 10px;
  }

  .fa-heart {
    .post-heart-number {
      font-family: $font-family;
    }
  }

  .post-time {
    margin-left: 50px;
  }
}

.post-response-user {
  padding: 0 15px;
  float: left;
  width: 100%;

  .avatar {
    width: 20%;
    @media #{$medium} {
      width: 100%;
    }
  }

  .post_input {
    width: 80%;
    float: left;
    margin-bottom: 20px;

    @media #{$medium} {
      width: 100%;
    }
  }

  .post_button {
    width: auto;
    float: right;
  }
}
