@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

.profile {
  .website,
  .profile_bio,
  .profile_email,
  .profile_number,
  .profile_gender {
    width: 100%;
    float: left;
  }

  .subject-input-submit {
    display: none;
  }

  .post-response {
    padding: 10px;

    .avatar {
      padding: 0;
    }
  }

  .post-response-user {
    border-bottom: 1px solid $color-light_gray;
    padding-bottom: 40px;

    .avatar {
      width: 100%;
      padding: 0;
    }

    .post_input {
      width: 100%;
      min-height: 100px;
      margin-top: 20px;

      @media #{$medium} {
        margin-top: 0;
      }
    }

    .post_button {
      width: auto;
      float: right;
    }

    .input {
      min-height: 150px;
    }
  }

  .edit-text-input-group {
    border-bottom: 1px solid $color-light_gray;

    .title {
      color: $color-medium_gray;
    }

    .input {
      @extend .input;
    }

    .subject-list {
      padding-left: 0;
    }

    .subject-button_remove {
      display: none;
    }
  }

  .edit-text-input-single {
    border-bottom: 1px solid $color-light_gray;
    .unordered-list {
      padding-left: 0;
    }

    .label {
      color: $color-medium_gray;
    }
  }

  .subject-input-adds {
    border-bottom: 1px solid $color-light_gray;
    padding: 0 15px 30px 15px;

    @media #{$medium} {
      padding: 0;
    }

    .wrapper {
      float: left;
      width: 100%;
      height: 200px;
    }

    .title {
      color: $color-medium_gray;
    }

    .instructions {
      color: $color-light_gray;
    }

    .paragraph {
      float: left;
      width: 100%;
    }
  }
}
