@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

// Container
.profile {
  float: left;
  width: 100%;
  margin: 3.5em 0 5em 0;

  .user-info {
    .profile_image,
    .wrapper {
      float: left;
      width: 50%;
    }

    .wrapper {
      .email,
      .about {
        .header-four {
          margin-bottom: 5px;
        }
      }
    }
  }

  .user-info,
  .user-manage,
  .users-posts {
    float: left;
    width: 100%;
  }

  .users-posts {
    .post_body .anchor_view {
     display: block;   
    }

    .date {
      color: $color-medium_gray;
    }
  }

  .img {
    height: 200px;
    width: auto;
  }
  
}

.profile.menu-slide-in {
  height: 60px;
  margin: 0;
}
