@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

.subject-input-add {
  width: 100%;
  float: left;

  .listItem {
    color: $color-white;
    background-color: $color-secondary;
    padding: 10px 10px 10px 20px;
    float: left;
    margin: 5px 10px;
    border-radius: 5px;

    .fa-close {
        color: $color-secondary;
        margin-left: 5px;

        &:hover {
            color: $color-white;
        }
    }

    &:hover {
        background-color: $color-secondary-hover;
    }
  }

  .input-add-list {
    float: left;
    width: 100%;
  }
}
