@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

// Container
.user{
    margin: 3.5em 0 5em 0;
    float: left;
    width: 100%;
}

.user.menu-slide-in {
    height: 60px;
    margin: 0;
  }