@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

// USER Container
// .user {
//   margin: 3.5em 0 5em 0;
//   float: left;
//   width: 100%;
// }

// .user.menu-slide-in {
//   height: 60px;
//   margin: 0;
// }

// ALL USERS container
.users {
  margin-top: 4em;

  .user-card {
    .list-item {
      float: left;
      width: 90%;
      padding: 10px;
      margin: 10px;
      background-color: $color-white_gray;

      @media #{$medium} {
        width: 30%;
      }

      .users_image {
        @media #{$medium} {
          width: auto;
          height: 200px;

          .image {
            width: 200px;
          }
        }
        
      }
    }

    .anchor_view {
      float: left;
      width: 100%;
      text-align: center;
    }
  }
}
