@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

// Container
.user-sign-in {
  float: left;
  width: 100%;
  margin: 3.5em 0 5em 0;
  
  .user-sign-in_wrapper {
    // background-image: url('https://d173eg0xl75rn9.cloudfront.net/assets/backgrounds/register_background.svg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: $color-primary-hover;
    margin-top: 70px;

    .header-one {
      text-align: center;
    }

    .user-sign-in_content {
      padding-left: 15px;
      padding-right: 15px;
      float: left;
      margin-top: 2em;

      @media #{$medium} {
        margin-top: 0;
        width: 50%;
        margin-left: 25%;
        padding-left: 0;
        padding-right: 0;
      }

      .form-element {
        .input_user-name,
        .input_password,
        .input_email {
          margin: 10px 0;
          float: left;
          width: 100%;

          .input {
            @extend .input;
            float: left;
            width: 100%;
          }
        }

        .submit {
          margin-top: 3em;
          float: left;
        }
      }

      .form-element .form-element_inputs,
      .form-error {
        float: left;
        width: 100%;
      }

      .form-error {
        .unordered-list {
          padding-left: 0;
          .listItem {
            margin: 10px 0;
            border-radius: 5px;
            padding: 10px 15px;
          }
        }
      }

      .account-redirect_wrapper,
      .forgot-password_wrapper {
        float: left;
        width: 100%;
      }
    }
  }
}

.user-sign-in.menu-slide-in {
  height: 60px;
  margin: 0;
  
  .menu-slide_button {
    display: none;
  }
}