@import '../_variables.scss';
@import '../../.././base/styles/_variables.scss';

.user-sign-up {
    .user-sign-up_wrapper {
        // background-image: url('https://d173eg0xl75rn9.cloudfront.net/assets/backgrounds/register_background.svg');
        height: 100%; 
        background-repeat: no-repeat;
        background-size: cover;
        // background-color: $color-primary-hover;
        margin-top: 70px;
    
        // .header-one {
        //     color: $color-white;
        // }
    
        .user-sign-up_content {
            margin-left: 25%;

            @media #{$medium} {
                float: left;
                width: 50%;
            }
        }

        .input {
            @extend .input
        }
    
        .form-element {
            .input {
                float: left;
                width: 100%;
            }
        }
    }
}