.intro-box,
.taner-intro-box,
.gonzalez-intro-box {
	margin-left: 15px;
	width:50%;
	margin-top: 522px;
	background-color:rgba(244,150,9,0.50);
}

.intro-number {
	color:rgba(244,150,9,0.50);
}

/* Links & Buttons
================================ */

div.modal-header button.close {
	background-color:darkslategray;
	padding:0 5px 5px 5px;
}


/* Intro's
================================ */

.publication {
	margin-bottom:25px;
}

.cover,
.linders_intro,
.heckert_intro,
.berry_intro,
.tumkaya_intro,
.gonzalez_intro,
.back-cover {
	background-repeat:no-repeat;
	height: 680px;
}

.linders_intro,
.heckert_intro,
.berry_intro,
.tumkaya_intro,
.gonzalez_intro {
	background-position:center;
}

.linders_intro,
.heckert_intro,
.berry_intro,
.tumkaya_intro {
	background-size: cover;
}

.gonzalez_intro {
	background-size: cover;
}

.cover {
	background-image: url(../images/feb2015_cover.jpg);
}

.back-cover {
	background-image: url(../images/back.gif);
}

.cover,
.back-cover {
	content:"";
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0px 31%;
	background-size: contain;
}

.linders_intro {
	background-image:url(../images/owen_linders/owen_linders-intro.jpg);
}

.heckert_intro {
	background-image:url(../images/richard_heckert/richard_heckert-intro.jpg);	
}

.berry_intro {
	background-image:url(../images/rick_berry/rick_berry-intro.jpg);	
}

.tumkaya_intro {
	background-image:url(../images/taner_tumkaya/taner_tumkaya-intro.jpg);	
}

.gonzalez_intro {
	background-image:url(../images/raul_gonzalez/gonzalez_la_vecina_cha_cha_cha-mixed_media-2014.jpg);	
}


/* Imagery
================================ */

.artwork,
.garibaldi,
.garibaldi img,
.artwork img,
.heckertStyle img,
.heckertStyle,
.tannerStyleHor,
.tannerStyleHor img,
.tannerStyleVer,
.tannerStyleVer img {
	display: block;
  	position: absolute;
	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	margin: 0px auto;
}

.artwork,
.heckertStyle {
	width: 80%;
}

.flotsamLagan img {
	width: 100%;
}

.gonzalezWidth img {
	width:100%;
}

.artworkHeight,
.doodleHeight {
	height: 580px;
}

.pageSpacing img {
	display: block;
  	position: absolute;
	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	margin: 0px auto;
	padding: 10px auto;
}
	
	.carousel, 
	.carousel-inner, 
	.carousel-inner .item {
  		width: 100%;
  		height:168px;
	}
	
	/* Images
================================ */
	
	.cover,
	.back-cover {
		background-size: cover;
		height: 612px;
	}
	
	.tocImage {
		display:none;
	}

	.linders_intro,
	.heckert_intro,
	.berry_intro,
	.tumkaya_intro,
	.gonzalez_intro {
		background-position:top;
		background-size: 100%;
		height: 50%;
	}
	
	.artwork,
	.garibaldi,
	.artwork img {
		width: 80%;	
	}
	
	.gonzalezWidth img {
		width: 85%;
	}
	
	.garibaldi img {
		height: 100%;
		padding-bottom: 10px;
	}
	
	.artworkHeight {
		height: 345px;
	}
	
	.doodleHeight {
		height: 400px;
	}
	
	.tannerStyleHor img {
		height:88%;
	}
	
	.tannerStyleVer img {
		height:70%;
	}
	
	.heckertStyle img {
		height: 100%;
	}
	
	.heckertStyle {
		padding-bottom: 10px;
	}
	
	.cover,
	.back-cover {
		width: 70%;
		background-size: contain;
		margin: 0px 19%;
	}
	
	.lagan img {
	width:240px;
	}
	
	/* Buttons & Margins
================================ */

	.artworkTopMargin {
		margin-top: 120px;
	}

	.bottomMargin {
		margin-bottom: 10px;
	}
	
	.intro-box,
	.taner-intro-box {
		margin-left: 15px;
		width:69%;
		background-color:#F49609;
		padding-bottom:10px;
	}
	
	.intro-box {
		margin-top: 75%;
	}
	
	.taner-intro-box {
		margin-top: 66%;
	}
	
	.gonzalez-intro-box {
		margin-top: 460px;
		width: 75%;
	}

@media (max-width: 991px) {

	.artwork,
	.artwork img,
	.heckertStyle {
	  	width: 85%;
	}
	
	.cover,
	.back-cover {
		width:60%;
		margin: auto;
		background-size: contain;
	}
	
	.carousel, 
	.carousel-inner, 
	.carousel-inner .item {
  		width: 100%;
  		height:345px;
	}
}
